<div class="container">
  <div class="row">
    <div class="col-4">
      <div class="tinder--cards">
        <% @questions.each do |question|%>
          <div class="tinder--card">
            <%= image_tag question.photourl%>
            <h3>Titulo</h3>
            <p><%= question.description%> </p>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="tinder--buttons">
  <button id="nope"><i class="fa fa-times"></i></button>
  <button id="love"><i class="fa fa-heart"></i></button>
  <%= button_to questions_decline_path,class:"nope", method: :create do %>
      <i class="fa fa-times"></i>
                <% end %>
 <%= button_to questions_aprove_path,class:"love", method: :create do %>
                <i class="fa fa-heart"></i>
                <% end %>
</div>
