<style>

</style>


<h1>Olá, <%= @user.email %></h1>

<h2>Agradecemos a sua visita ao site Melhor Raça e desejamos que as informações que fornecemos possa lhe ajudar na escolha do seu amigo, no link
abaixo seguem todas a informações:</h2>


<br>
<br>
<br>

<footer> Atenciosamente,
  <br>
  <br>Equipe Melhor Raça
</footer>
<p>
</p>
