// Specific CSS for your home-page
.divisor-banner {
  position: relative;
  top: -300px;
  width: 100%;
  z-index: -1;
}

.fade-bottom {
  width: max-content
}

.divisor-img {
  width: 100%;
}

.second-main-section {
  position: relative;
  top: -600px;
}
