// Specific CSS for your home-page

.main-section, .second-main-section, .last-main-section {
  h2 {
    color: #54436B;
    text-shadow: #50CB93 1px 2px;
  }
  p {
    color: #646867;
    text-shadow: #9dffd3 0.5px 0.5px;
  }
}

#typed-effect02 {
  color: #54436B;
  text-shadow: #9dffd3 1px 2px;
  position: relative;
  top: -80px;
  color: $white;
  padding-left: 60px;
  margin-bottom: 50px;
}

.start-now-btn {
  margin-top: 24px;
  background-color: #54436B;
  color: #50CB93;
  border-radius: 5px;
}
.start-now-btn:hover {
  color: #9dffd3;
  background-color: #9771c8;
}




/* Inserting style for smooth scrolling. */
#scroll-animate {
	overflow: hidden;
}

#scroll-animate-main {
	width: 100%;
	left: 0;
	position: fixed;
}

#heightPage, #heightScroll {
	width: 10px;
	top: 0;
	position: absolute;
	z-index: 99;
}

#heightPage {
	left: 0;
}

#heightScroll {
	right: 0;
}


/* Inserting style for basic layout */
header {
	width: 100%;
	height: 100%;
	background: asset-url('header02.jpg') no-repeat 50% 50%;
	top: 0;
	position: fixed;
	z-index: -1;
  background-position: center;
  background-size: cover;
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-between;


	width: 100%;
	height: 280px;
	background: #54436B;
	bottom: -300px;
	position: fixed;
	z-index: -1;
    p {
      color: #50CB93;
    }
}

.footer a:hover {
  opacity: 0.1;
}

.fa-heart {
  color: #D23333;
}

///////////////////////////////////////

.content {
  background-image: radial-gradient($white 60%, #ddf8ee 25%);
	// background: $white;
	position: relative;
	z-index: 1;
}

.wrapper-parallax {
	margin-top: 100%;
	margin-bottom: 280px;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}


/* Inserting style animations for layout. */
header, footer, #scroll-animate-main {
	-webkit-transition-property: all;
	-moz-transition-property: all;
	transition-property: all;

	-webkit-transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
	transition-duration: 0.4s;

	-webkit-transition-timing-function: cubic-bezier(0, 0, 0, 1);
	-moz-transition-timing-function: cubic-bezier(0, 0, 0, 1);
	transition-timing-function: cubic-bezier(0, 0, 0, 1);
}









///////////////////////////////////////////////////////////////////
