<div class="container-fluid">
  <div class="row first-banner">
    <div class="col-12 col-lg-12 logo-banner">
      <h2 class="home-logo"><strong>Melhor Raça</strong></h2>
      <%= image_tag "logo.png", alt: "logo", width: "60", class: "home-logo" %>
    </div>
    <div class="col-12 col-lg-6 first-section">
      <div class="d-flex flex-column">
        <h1>The best way...</h1>
        <h4>to find your best buddy! </h4>
        <a href="#" class="quiz-start-btn">Start Now</a>
      </div>
    </div>
    <div class="col-12 col-lg-6">
      <%= image_tag "image03.png", alt: "Dog", width: "700", class: "first-section-img" %>
    </div>
  </div>

  <div class="row second-banner">
    <div class="col-12 col-lg-6">
      <%= image_tag "image04.png", alt: "Dog", width: "600", class: "second-section-img" %>
    </div>
    <div class="col-12 col-lg-6 second-section">
      <div class="d-flex flex-column">
        <h1>The best way...</h1>
        <h4>to find your best buddy!</h4>
      </div>
    </div>
  </div>

  <div class="row third-banner">
    <div class="col-12 col-lg-6 third-section">
        <div class="d-flex flex-column">
          <h1>The best way...</h1>
          <h4>to find your best buddy!</h4>
        </div>
      </div>
      <div class="col-12 col-lg-6">
        <%= image_tag "image05.png", alt: "Dog", width: "930", class: "third-section-img" %>
      </div>
    </div>
  </div>

</div>
